<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form (ngSubmit)="lambdaForm()">
    <ion-item>
      <ion-label>data</ion-label>
      <ion-input type="text" [(ngModel)]="data.title" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea [(ngModel)]="data.description" name="description"></ion-textarea>
    </ion-item>
    <button ion-button type="submit" block>Add data</button>
  </form>

</ion-content>

<ion-content></ion-content>
